/*variable here */
$color-green:green;
$average-height:900px;
$newtest:500px;


/* DONT FORGET TO TURN ON SASS ON CMD BEFORE CODING */
/* DONT FORGET TO TURN ON SASS ON CMD BEFORE CODING */
/* DONT FORGET TO TURN ON SASS ON CMD BEFORE CODING */
/* DONT FORGET TO TURN ON SASS ON CMD BEFORE CODING */
/* DONT FORGET TO TURN ON SASS ON CMD BEFORE CODING */

/* code start here*/
