
.font-white{
	color:white;
}

.bg-blue{
	background-color: blue;
}

.bg-red{
	background-color: red;
}

.bg-green{
	background-color: green;
}
.bg-yellow{
	background-color: yellow;
}

.bg-grey{
	background-color: #EEEAEF;
}
.bg-dark{
	background-color: #484848 ;
}