@import "header.css";
@import "footer.css";
@import "reset.css";
@import "mobile.css";
@import "all.css";


/*end*/
.banner {
	height: 400px;
}
.banner article{
	background: url(img/.jpg);
}

.banner aside{
	background-color: #1F2235;
	height: 100%;
}
.aside{
	width: 95%;
	float: right;
}
.banner li,.banner h2,.banner p,.banner b{
	color: white;
}
.banner h2{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
}
.banner p{
	width: 100%;
	margin-bottom: 20px;
}
.banner-form-3 {
	margin-bottom: 20px;
}
.banner-form-3 li{
	display: inline-block;
}
.banner-form-3 li button{
	width: 80px;
	height: 30px;
	background-color: white;
}
.banner-form-2{
	margin-bottom: 20px;
}
.banner-form-2 li{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

/* end */
.title{
	text-align: center;
	width: 30%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-top: 20px;
	height: 50px;
	border-bottom: 2px solid black;
}

/* end */
.hotel{
	background-color: #6CF12B;
}

/* end */
.house{
	background-color: #1F2235;
}

/* end */
.partner{
	background-color: white;
}
.partner h2{
	text-align: center;
}
.partner aside img{
	text-align: center;
}
.partner article{
	text-align: left;
}
