body{
	background-color: #F9F9F9;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
.inner{
	width: 80%;
	margin: 0 auto;
}
section{
	height: 200px;
}
ul li{
	display: inline-block;
}
article{
	float: left;
	width: 50%;
}
aside{
	float: right;
	width: 50%;
}

.download{
	border:none;
	padding:10px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 14px;
	color:blue;
	background-color: white;
}