header{
	width: 100%;
	height: 60px;
	background-color: #4900E2;
}

header ul li{
	display: inline-block;
}

header .left{
	float: left;
}

header .middle{
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}

header .middle ul li{
	margin-left: 20px;
	margin-right: 20px;
}

header .right{
	float: right;
	padding-top: 20px;
}