
body{
	background-color: #F9F9F9;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}

section{
	padding-top: 50px;
}

button{
	background-color: #FF3F3F;
	width: 53px;
	height: 25px;
	color: white;
	font-weight: bold;
	font-size: 14px;
}