header{
	width: 100%;
	height: 50px;
	background-color: #C568FF;
}

header ul li{
	display: inline-block;
	margin-top: 10px;
	font-weight: bold;
}

header .left{
	float: left;
	text-align: left;
}

header .right{
	float: right;
	text-align: right;
}

header .right ul li{
	margin-left: 10px;
	margin-right: 10px;
}

/* hover */

header a:hover {
	color: #30C2FC;
	padding-bottom: 10px;
	border-bottom: 3px solid #30C2FC;
}